@model WebApplication1.Models.Order

<h2>Kvittens</h2>

@if (Model == null)
{
    <p>Ogiltigt ordernummer!</p>
}
else
{
    <p>Du beställde:</p>

    <ul>
        @foreach (var detail in Model.OrderDetails)
        {
            <li>@detail.Quantity x @detail.Dish.Name</li>
        }
    </ul>

    <p>Totalt pris: @Model.TotalAmount.ToString("C")</p>

    <p>Din epost: @Model.Email</p>
}