<h2>Order</h2>

<h3>Meny</h3>

<div class="loading-message">Laddar menyn...</div>
<div class="order-form" style="display: none;">

    <ul id="dishes-list" class="list-unstyled">
        <li>
            <div>Antal</div>
            <div>Namn</div>
            <div>Pris</div>
            <div>&nbsp;</div>
        </li>
    </ul>

    <div>
        Email <input type="text" class="email" />
        <span class="email-validation-message"></span>
    </div>

    <div class="quantity-error-message"></div>

    <div>
        <div>
            <input id="submit" type="submit" value="Skicka" />
        </div>
        <div class="confirm-message"></div>

    </div>
</div>

@section scripts
{
    <script src="~/Scripts/order.js"></script>
}