<h2>Order</h2>

<h3>Meny</h3>

<div class="test"></div>

<ul id="dishes-list" class="list-unstyled">
    <li>
        <div class="col-md-2 inline">Antal</div>
        <div class="col-md-5 inline">Namn</div>
        <div class="col-md-2 inline">Pris</div>
        <div class="col-md-3 inline">&nbsp;</div>
    </li>
</ul>

<div>
    Email <input type="text" class="email" />
    <span class="email-validation-message"></span>
</div>

<div class="quantity-error-message"></div>

<input id="submit" type="submit" value="Skicka" />

@section scripts
{
    <script src="~/Scripts/order.js"></script>
}