@model System.Collections.Generic.List<WebApplication1.Models.Order>

<h2>Utestående beställningar</h2>

<ul>
    @foreach (var order in Model)
    {
        <li>@Html.Partial("_Order", order)</li>
    }
</ul>